<html>
{% load static %}
{% include 'header.html' %}
<head>
	<script src='{% static "scripts/jquery.min.js" %}'></script>
</head>
<body>
	<br><br>
	<center>
	{% if messages %}
	{% for m in messages %}
	<script>
		alert("{{m}}");
	</script>
	{% endfor %}
	{% endif %}
	<script>
	$(document).ready(function(){
		$("#food").blur(function(){
			$("#ss").html("");
			alert("hello");
			var url="/Foodapp/search/"+$("#food").val();
			$.get(url,function(data,status){
				$.each(data,function(obj){
					if(obj!=null)
					{
						for(var i=0;i<data['food'].length;i++)
						{
							$('#t').css("display","block");
							$("#ss").append
							(
								"<tr><td>"+data['food'][i]['pk']+
								"</td><td>"+data['food'][i]['fields']['name']+
								"</td><td>"+data['food'][i]['fields']['price']+
								"</td><td>"+data['food'][i]['fields']['quantity']+
								"</td><td><a href='/cartapp/addToCart/{{f.id}}'><img src='/static/images/cart.png' width='30' height='30' alt='Add to Cart'></a></td></tr>"
							);
						}
					}
				});
			});
		});
	});
	</script>

		<caption>Search Food Here: <input type="text" id="food"></caption></center>&nbsp;
	<center>
	<table id="t" border="5px" cellpadding="5px" cellspacing="2px" bordercolor="green">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody id="ss">
		{% if foods %}
			{% for f in foods %}
				<tr>
					<td>{{f.id}}</td>
					<td>{{f.name}}</td>
					<td>{{f.price}}</td>
					<td>{{f.quantity}}</td>
					{% if request.session.Email %}
						<td><a href='/cartapp/addToCart/{{f.id}}'><img src='/static/images/cart.png' width='30' height='30' alt='Add to Cart'></a></td>
						{% if request.session.utype == 'Admin' %}
							<td><a href='/Foodapp/updatefood/{{f.id}}'><img src='/static/images/edit.png' width='30' height='30' alt='Update Food'></a></td>
							<td><a href='/Foodapp/delete/{{f.id}}'><img src='/static/images/delete.png' width='30' height='30' alt='Delete Food'></a></td>
						{% endif %}
					{% endif %}
				</tr>
			{% endfor %}
		{% endif %}
		<tr>
			<td><a href='/Foodapp/foods'><img src='/static/images/foods.png' width='50' height='50' alt='All Food'></a></td>
			{% if request.session.utype == 'Admin' %}
				<td><a href='/Foodapp/addfood'><img src='/static/images/add.png' width='50' height='50' alt='Add Food'></a></td>
			{% endif %}
		</tr>
	</tbody>
	</table>
	</center>
{% include 'footer.html' %}
</body>
</html>