<html>
	<head>
		{% include 'header.html' %}
	</head>
	<body>
		<form name="form" action="/orderapp/order" method="POST">
			{% load static %}
			{% csrf_token %}
			<center>
			<table border="10px" cellpadding="8px" cellspacing="3px" bordercolor="pink">
			{% if cart %}
				<caption><h1>Cart List</h1></caption>
				<tr>
					<th>Food Id</th>
					<th>Food Name</th>
					<th>Food Price</th>
					<th>Cart Quantity</th>
					<th>Action</th>
				</tr>
				{% for c in cart %}
				<tr>
					<td>{{c.id}}</td>
					<td>{{c.name}}</td>
					<td>{{c.price}}</td>
					<td>{{c.Quantity}}</td>
					<td><a href='/cartapp/delete/{{c.id}}'><img src='/static/images/delete.png' width='30' height='30' alt='Delete Food'></a></td>
				</tr>
				{% endfor %}
			</table>
			</center>
			<input type="submit" value="palce order">
			{% else %}
				<h1>CART IS EMPTY</h1>
			{% endif %}
			{% include 'footer.html' %}
		</form>
	</body>
</html>