<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    #templatemo_footer {
	clear: both;
	color: #333;
	width: 100%;
	margin-top: 30px;
	padding: 20px 0px 20px 0;
	text-align: center;
	background: #ced1c8;
}

#templatemo_footer a {
	color: #333;
	font-weight: normal;
}
</style>
</head>
<body>
<center>
<div id="templatemo_footer">

    	<a href="#">Home</a> | <a href="#">Tea</a> | <a href="#">Top Dishes</a> | <a href="#">Company</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        Copyright © 2020 <a href="#"><strong>Food Plaza</strong></a>
        <!-- Credit: www.templatemo.com --></div> <!-- end of footer -->
</center>
</body>
</html>