<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tea and Meal - Free CSS Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load staticfiles %}
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet">

</head>
<body>

<div id="templatemo_container">
	<div id="templatemo_header">
    	<div id="site_title"></div>
    </div> <!-- end of header -->
    
    <div id="templatemo_menu">
        <ul>
        	<li class="current"><a href="/Foodapp/foods"><b>Home</b></a></li>
            
{% if request.session.Email is not None or request.session.adminId is not None %}
<li><a href="/change"><b>Change Password</b></a></li>
{% endif %}
{% if request.session.Email is None and request.session.adminId is None %}
            
            <li><a href="/userapp/loginuser"><b>Login</b></a></li>
            <li><a href="/userapp/adduser"><b>Register</b></a></li>
{% endif %}
{% if request.session.Email is None and request.session.adminId is not None %}
<li><a href="/Foodapp/addfood"><b>Add Food</b></a></li>
<li><a href="/userapp/users"><b>Customers</b></a></li>

<li><a href="/userapp/logoutuser"><b>Logout</b></a></li>
{% endif %}

{% if request.session.Email is not None and request.session.adminId is None %}
<li><a href="/cartapp/showCart"><b>My Cart</b></a></li>
<li><a href="/getcust"><b>Edit Profile</b></a></li>
<li><a href="/userapp/logoutuser"><b>Logout</b></a></li>
{% endif %}


            <li ><a href="#"><b>Contact Us</b></a></li>
        </ul>
    </div> <!-- end of menu -->
</body>
</html>
